In [2]:
i = [1,2,3,4,5]
for item in i:
    print(item)

1
2
3
4
5

In [5]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [6]:
for item in range(0,50, 2):
    print(item)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

## In a list of numbers find even numbers and replace them with 0

In [7]:
l=["E","P","E","P"]

In [ ]:
for indx, item, in enumerate(l):
    print(item, indx)
    if item =="P":
        l[indx]=0

E 0
P 1
E 2
P 3

In [9]:
l

['E', 0, 'E', 0]

In [10]:
i=[2,5,7,9,12,16]

In [ ]:
for indx, item, in enumerate(l):
    print(item, indx)
    if item2 ==%2:
        l[indx]=0

In [11]:
l=[2,3,4,5,6,7,8,9,10]

In [13]:
for indx ,item in enumerate(l):
    print("The item value is : ",item)
    print("The indx : ",indx)

if item%2

SyntaxError: expected ':' (1399993629.py, line 5)

In [14]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [19]:
l=[1,2,3,44,5,6]
len(l)

6

In [ ]:
for item in range(len(l)-1):
    if l[item+1]-l[item]!=1:
        break
else:
    print("The list is natural")

The list is natural

In [20]:
for item in range(len(l)-1):
    if l[item+1]-l[item]!=1:
        print("The list is not natural")
        break
else:
    print("The list is natural")

The list is not natural

In [ ]:
flag = False